body {
  box-shadow: none;
  color: #333;
  font-family: Rubik, sans-serif;
  font-size: 16px;
  line-height: 24px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 38px;
  font-weight: 700;
  line-height: 44px;
}

p {
  text-align: center;
  margin-bottom: 16px;
}

a {
  color: #2373ea;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: underline;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 24px;
}

ol {
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 24px;
}

li {
  padding-bottom: 8px;
  padding-left: 4px;
}

blockquote {
  border-left: 5px solid #e2e2e2;
  margin-bottom: 10px;
  padding: 10px 20px;
  font-size: 18px;
  line-height: 26px;
}

.qt-hero {
  z-index: 10;
  max-width: 1400px;
  background-image: none;
  align-items: flex-start;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 190px;
  padding-bottom: 96px;
  padding-left: 7%;
  display: flex;
  position: static;
  overflow: hidden;
}

.body {
  flex-direction: column;
  font-family: Lato, sans-serif;
  font-size: 16px;
}

.qt-hero__desc-cont {
  min-width: 442px;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.zb-hero-heading {
  margin-top: 32px;
  margin-bottom: 32px;
  font-size: 32px;
  font-weight: 400;
}

.zb-hero-heading.reverse {
  opacity: .7;
  color: #fff;
}

.qt-hero-button {
  text-align: left;
  background-color: #521b74;
  background-image: url('../images/Download-cloud.svg');
  background-position: 27px 15px;
  background-repeat: no-repeat;
  background-size: 32px;
  border-radius: 50px;
  align-items: center;
  padding: 19px 40px 19px 71px;
  font-size: 15px;
  transition: background-color 1.1s, box-shadow .2s, transform .2s;
  display: none;
}

.qt-hero-button:hover {
  background-color: #e42656;
  transform: scale(1.02);
  box-shadow: 0 7px 14px rgba(0, 0, 0, .3);
}

.zb-hero__sec-links-list {
  margin-top: 24px;
  margin-bottom: 24px;
  padding-left: 0;
  font-size: 13px;
  list-style-type: none;
  display: none;
}

.zb-hero__sec-link {
  color: #67bfd3;
  text-decoration: none;
}

.zb-hero__sec-link:hover {
  text-decoration: underline;
}

.zb-hero__sec-link-item {
  margin-bottom: 8px;
}

.zb-hero__sec-link-desc {
  color: rgba(0, 0, 0, .6);
}

.qt-hero__image-container {
  min-width: 820px;
  margin-bottom: 0;
}

.qt-section-container {
  width: 892px;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 112px 100px;
  display: flex;
  position: relative;
}

.qt-section-container.security {
  padding-bottom: 70px;
}

.qt-section-container.hero-recap {
  padding-top: 210px;
  padding-bottom: 210px;
}

.qt-section-heading {
  color: #000;
  text-align: center;
  margin-top: 0;
  margin-bottom: 32px;
  font-size: 52px;
  font-weight: 700;
  line-height: 62px;
}

.qt-section-heading.security {
  margin-bottom: 0;
}

.qt-section-heading.reverse {
  color: #fff;
}

.qt-contribute-section {
  box-shadow: none;
  background-image: linear-gradient(#f9f9f9, #fff 15%);
  transition: opacity .2s;
}

.qt-features-section {
  background-color: #fff;
  background-image: linear-gradient(#f9f9f9, #fff 15%);
}

.qt-footer {
  background-image: linear-gradient(#0e0e0e 22%, #270b39), linear-gradient(#0e0e0e, #0e0e0e);
  flex-direction: column;
  justify-content: center;
  padding: 92px 32px 32px;
  display: flex;
}

.qt-footer__sec-btns-list {
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 92px;
  padding-left: 0;
  list-style-type: none;
  display: flex;
}

.qt-footer__sec-btn-item {
  margin-left: 8px;
  margin-right: 8px;
}

.qt-footer__sec-btn {
  background-color: rgba(255, 255, 255, .05);
  border-radius: 50%;
  padding: 12px;
  transition: background-color .5s;
}

.qt-footer__sec-btn:hover {
  background-color: rgba(0, 0, 0, .15);
}

.qt-footer__sec-btn-image {
  opacity: .45;
}

.qt-footer__pri-btns-list {
  flex-direction: row;
  justify-content: center;
  margin-top: 24px;
  margin-bottom: 32px;
  padding-left: 0;
  list-style-type: none;
  display: flex;
}

.qt-footer__pri-btn-item {
  letter-spacing: 1px;
  flex-direction: row;
  margin-left: 8px;
  margin-right: 8px;
  display: flex;
}

.qt-footer__logo-container {
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  display: flex;
}

.qt-footer__logo {
  width: 182px;
  opacity: .6;
}

.qt-footer__copyright-text {
  color: rgba(255, 255, 255, .4);
  text-align: center;
  letter-spacing: 1px;
  font-size: 10px;
  font-weight: 300;
}

.qt-hero-section {
  background-image: linear-gradient(to top, #ff688e, #521c74 90%);
}

.qt-footer__pri-btn {
  color: rgba(0, 0, 0, .7);
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 4px;
  padding: 6px 12px;
  font-size: 13px;
  font-weight: 300;
  text-decoration: none;
  transition: background-color .5s;
}

.qt-footer__pri-btn:hover {
  background-color: rgba(0, 0, 0, .15);
}

.zb-footer__pri-btn-text {
  color: rgba(255, 255, 255, .7);
}

.zb-footer__pri-btn-text:hover {
  text-decoration: underline;
}

.qt-footer__logo-link-block.w--current {
  opacity: .8;
  padding: 16px;
  transition: transform .2s, opacity .2s;
}

.qt-footer__logo-link-block.w--current:hover {
  opacity: 1;
  transform: scale(1.05);
}

.zb-alert-subheading {
  color: rgba(255, 255, 255, .7);
  text-align: center;
  font-weight: 300;
}

.zb-alert-content {
  width: 80%;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.zb-alert-heading {
  color: rgba(255, 255, 255, .8);
  text-align: center;
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 32px;
  font-weight: 400;
}

.zb-alert-icon {
  min-width: 42px;
  opacity: .5;
  margin-right: 0;
}

.zb-alert-title-section {
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.zb-mobile-alert {
  background-color: #e42656;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 40px;
  display: none;
}

.qt-tor-section {
  box-shadow: none;
  background-image: url('../images/peer-to-peer.svg');
  background-position: 50% 103%;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: scroll;
  padding-bottom: 180px;
  transition: opacity .2s;
}

.image {
  width: 18px;
  height: 18px;
}

.qt-back-to-top {
  z-index: 1200;
  background-color: rgba(255, 255, 255, .8);
  border-radius: 50%;
  margin: 16px;
  padding: 10px;
  display: none;
  position: fixed;
  top: auto;
  bottom: 0%;
  left: auto;
  right: 0%;
  box-shadow: 0 9px 15px rgba(0, 0, 0, .18);
}

.navbar {
  filter: blur();
  background-color: rgba(252, 252, 252, .94);
  padding-top: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.qt-nav-container {
  width: 100%;
  min-width: 100%;
  opacity: 1;
  justify-content: space-between;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
  display: block;
}

.brand-2 {
  margin-top: 0;
  padding: 18px 32px;
}

.brand-2.w--current {
  margin-top: 8px;
}

.qt-nav-menu {
  margin-right: 16px;
}

.qt-nav-links {
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 16px;
}

.qt-nav-links:hover {
  color: #2373ea;
  text-decoration: none;
}

.qt-logo {
  max-height: 35px;
  max-width: 116px;
  min-height: 35px;
  min-width: 116px;
  background-image: url('../images/Quiet-logo.svg');
  background-position: 0 0;
  background-size: auto;
}

.qt-logo:hover {
  opacity: 1;
  background-image: url('../images/Quiet-logo--hover.svg');
  background-position: 0 0;
  background-size: auto;
}

.qt-hero-heading-display {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 52px;
  font-weight: 600;
  line-height: 60px;
}

.qt-hero-heading-display.reverse {
  opacity: .9;
  color: #fff;
}

.qt-slackier-section {
  box-shadow: none;
  background-image: linear-gradient(#f9f9f9, #fff 15%);
  transition: opacity .2s;
}

.qt-styles-section {
  padding: 32px;
}

.qt-how-it-works {
  box-shadow: none;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff);
  transition: opacity .2s;
}

.qt-security-privacy-section {
  background-color: #fff;
  background-image: linear-gradient(#f9f9f9, #fff 15%);
  padding-bottom: 112px;
}

.qt-mission-section {
  background-color: #fff;
  background-image: url('../images/mission2.png'), linear-gradient(#f9f9f9, #fff 14%);
  background-position: 50% 77%, 0 0;
  background-repeat: no-repeat, repeat;
  background-size: 1060px, auto;
  padding-bottom: 501px;
}

.qt-action-area {
  width: 260px;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.qt-caption {
  color: #7f7f7f;
  text-align: left;
  font-size: 14px;
  line-height: 16px;
}

.qt-caption.reverse {
  color: rgba(0, 0, 0, .5);
  text-align: center;
}

.qt-caption-container {
  margin-top: 8px;
}

.qt-callout {
  max-width: 450px;
  min-width: 450px;
  flex-direction: column;
  padding: 32px 48px;
  display: flex;
}

.heading {
  text-align: center;
}

.qt-subcontainer {
  grid-column-gap: 90px;
  grid-row-gap: 90px;
  justify-content: center;
  padding-top: 40px;
  display: flex;
}

.qt-section-link {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.qt-section-link:hover {
  text-decoration: none;
}

.qt-container.tor {
  justify-content: center;
  padding-top: 80px;
  display: flex;
}

.qt-container.slackier {
  width: 1011px;
  object-fit: contain;
  align-items: flex-start;
  display: flex;
}

.image-2 {
  padding-top: 80px;
}

.image-4 {
  min-width: 1100px;
  display: none;
  position: absolute;
  top: auto;
  bottom: -357px;
  left: auto;
  right: auto;
}

.qt-feature-list {
  width: 100%;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: column;
  margin-top: 80px;
  display: flex;
}

.qt-feature-list-item {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  align-items: flex-start;
  display: flex;
}

.heading-2 {
  text-align: center;
}

.qt-feature-list-heading {
  width: 100%;
  margin-top: -4px;
  margin-bottom: 0;
}

.qt-feature-list-description {
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
}

.column {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px;
  display: flex;
}

.columns {
  padding-left: 112px;
  padding-right: 112px;
}

.qt-heading-security {
  color: #721c74;
  text-align: center;
}

.div-block-3 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  align-items: center;
  padding-bottom: 32px;
  display: flex;
}

.qt-hero-recap-section {
  box-shadow: none;
  background-image: url('../images/stars-timelapse2.jpg');
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: cover;
  transition: opacity .2s;
}

.qt-hero-badge {
  width: 150px;
  transform: translate(0px, 0px) scale3d(1none, 1none, 1none);
  transform-style: preserve-3d;
  background-color: #000;
  border-radius: 13px;
  justify-content: space-around;
  align-items: flex-start;
  transition: box-shadow .2s, transform .2s;
  display: flex;
  box-shadow: 0 0 0 -20px #000;
}

.qt-hero-badge:hover {
  transform: scale(1.04);
  box-shadow: 0 3px 8px 5px rgba(0, 0, 0, .26);
}

.qt-hero-badges {
  width: 100%;
  object-fit: contain;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 32px;
  padding-left: 32px;
  padding-right: 32px;
  display: none;
}

.qt-badge-column {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  justify-content: center;
  align-items: flex-start;
  padding-left: 0;
  padding-right: 0;
  display: flex;
}

.columns-2 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  padding-left: 32px;
  padding-right: 32px;
  display: flex;
}

.text-block {
  display: none;
}

.button-with-icon {
  color: #fff;
  background-color: #521c74;
  background-image: url('../images/Download.svg');
  background-position: 14px;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  border-radius: 50px;
  padding-left: 38px;
  padding-right: 16px;
}

.button-with-icon:hover {
  box-shadow: none;
  text-decoration: none;
}

.qt-footer-primary-action {
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.button {
  color: #fff;
  background-color: #521c74;
  border-radius: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.section {
  margin-top: 88px;
}

.qt-community-invite-container {
  width: 892px;
  min-height: 75vh;
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 152px 100px 112px;
  display: flex;
  position: relative;
}

.qt-community-invite-container.security {
  padding-bottom: 70px;
}

.qt-community-invite-container.hero-recap {
  padding-top: 210px;
  padding-bottom: 210px;
}

.image-6 {
  width: 224px;
  margin-bottom: 40px;
}

.qt-community-invite-h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.qt-community-invite-h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.qt-community-invite-action {
  text-align: left;
}

.div-block-4 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  display: flex;
}

.divider {
  width: 100%;
  max-height: 1px;
  min-height: 1px;
  background-color: #f0f0f0;
  margin-bottom: 32px;
}

.text-span {
  color: #2373ea;
  font-weight: 700;
}

.div-block-5 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  display: flex;
}

.button-no-icon {
  color: #fff;
  background-color: #521c74;
  border-radius: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.button-no-icon:hover {
  text-decoration: none;
}

.badges {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 32px;
  padding-bottom: 31px;
  display: flex;
}

.qt-section {
  box-shadow: none;
  background-image: linear-gradient(#f9f9f9, #fff 15%);
  transition: opacity .2s;
}

.hide-badge {
  display: none;
}

@media screen and (max-width: 991px) {
  .qt-hero {
    flex-direction: column;
    align-items: center;
    padding-left: 0;
  }

  .qt-hero__desc-cont {
    width: 100%;
    align-items: center;
    padding-bottom: 32px;
    padding-left: 0;
  }

  .zb-hero-heading {
    width: 80%;
    text-align: center;
  }

  .qt-hero-button:hover {
    box-shadow: none;
    background-color: #521c74;
    transform: none;
  }

  .zb-hero__sec-links-list {
    text-align: center;
  }

  .qt-hero__image-container {
    width: 80%;
    min-width: 0;
    margin-right: 0;
  }

  .qt-app-mockup {
    padding-bottom: 32px;
  }

  .qt-section-container {
    width: 100%;
  }

  .qt-section-heading {
    text-align: center;
  }

  .qt-footer__sec-btns-list {
    justify-content: center;
    padding-left: 8px;
  }

  .qt-footer__pri-btns-list {
    justify-content: center;
    margin-top: 24px;
    margin-bottom: 32px;
  }

  .qt-footer__pri-btn-item {
    flex-direction: column;
    align-items: center;
  }

  .qt-footer__logo-container {
    justify-content: center;
  }

  .qt-footer__pri-btn:hover {
    background-color: rgba(0, 0, 0, 0);
  }

  .qt-footer__pri-btn:active {
    background-color: rgba(0, 0, 0, .05);
  }

  .qt-footer__logo-link-block.w--current:hover {
    transform: none;
  }

  .zb-alert-heading {
    text-align: center;
  }

  .zb-mobile-alert {
    display: none;
  }

  .qt-tor-section {
    background-position: 50% 84%;
  }

  .navbar {
    box-shadow: none;
    background-color: rgba(255, 255, 255, .97);
    border-bottom: .5px solid #e7e7e7;
    padding-top: 0;
    padding-bottom: 0;
  }

  .brand-2 {
    margin-top: 0;
    padding-top: 18px;
    padding-left: 16px;
  }

  .brand-2.w--current {
    margin-top: 0;
  }

  .qt-nav-menu {
    background-color: rgba(255, 255, 255, .97);
    margin-right: 0;
    padding-top: 16px;
    padding-bottom: 17px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .13);
  }

  .menu-button {
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
  }

  .menu-button.w--open {
    background-color: #fff;
    padding-top: 22px;
    padding-bottom: 24px;
  }

  .icon {
    color: rgba(0, 0, 0, .8);
  }

  .qt-nav-links {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .qt-hero-heading-display {
    width: 80%;
    text-align: center;
  }

  .qt-action-area {
    align-items: center;
  }

  .qt-caption-container {
    display: flex;
  }

  .qt-subcontainer {
    width: 100%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    flex-direction: column;
    align-items: center;
  }

  .qt-container.slackier {
    width: auto;
  }

  .columns {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 32px;
    padding-right: 32px;
    display: flex;
  }

  .qt-hero-badges {
    flex-direction: column;
    align-items: center;
  }

  .columns-2 {
    width: 100%;
    flex-direction: column;
    margin-top: -130px;
  }

  .qt-community-invite-container {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .qt-hero {
    padding: 60px 24px;
  }

  .qt-hero__image-container {
    width: 90%;
    min-width: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .qt-section-container {
    padding: 60px 24px;
  }

  .qt-section-container.hero-recap {
    padding-top: 94px;
    padding-bottom: 0;
  }

  .qt-hero-section {
    padding-top: 72px;
  }

  .zb-alert-content {
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
  }

  .qt-mission-section {
    background-position: 50% 82%, 0 0;
    background-size: 800px, auto;
    padding-bottom: 379px;
  }

  .image-4 {
    min-width: 800px;
    bottom: -285px;
  }

  .image-5 {
    max-width: 80%;
  }

  .columns-2 {
    margin-top: -80px;
  }

  .qt-community-invite-container {
    padding: 112px 24px;
  }

  .qt-community-invite-container.hero-recap {
    padding-top: 94px;
    padding-bottom: 0;
  }

  .badges {
    max-width: 360px;
  }
}

@media screen and (max-width: 479px) {
  .qt-hero__desc-cont {
    min-width: 0;
    align-items: center;
  }

  .zb-hero-heading {
    width: 100%;
    font-size: 28px;
    line-height: 38px;
  }

  .qt-hero__image-container {
    width: 100%;
    min-width: 0;
  }

  .qt-app-mockup {
    width: 100%;
  }

  .qt-section-heading {
    width: 100%;
    font-size: 28px;
    line-height: 38px;
  }

  .zb-alert-heading {
    width: 100%;
    font-size: 20px;
    line-height: 28px;
  }

  .qt-tor-section {
    background-position: 50% 81%;
  }

  .menu-button {
    padding-left: 16px;
    padding-right: 16px;
  }

  .qt-logo {
    max-height: 29px;
    max-width: 100px;
    min-height: 29px;
    min-width: 100px;
    background-size: 100px;
  }

  .qt-logo:hover {
    background-size: 100px;
  }

  .qt-hero-heading-display {
    width: 100%;
    font-size: 40px;
    line-height: 38px;
  }

  .qt-mission-section {
    background-size: 510px, auto;
    padding-bottom: 274px;
  }

  .qt-callout {
    max-width: 100%;
    min-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .image-4 {
    min-width: 570px;
    bottom: -199px;
  }

  .column {
    padding-left: 0;
    padding-right: 0;
  }

  .qt-hero-badge {
    width: 160px;
  }

  .qt-hero-badges {
    padding-left: 24px;
    padding-right: 24px;
  }

  .qt-badge-column {
    flex-direction: column;
    align-items: center;
  }

  .columns-2 {
    flex-direction: column;
  }
}


