[submodule "3rd-party/auth"]
	path = 3rd-party/auth
	url = https://github.com/TryQuiet/auth.git
	branch = main
[submodule "3rd-party/js-libp2p-noise"]
	path = 3rd-party/js-libp2p-noise
	url = https://github.com/TryQuiet/js-libp2p-noise.git
	branch = master
