{
  "semi": false,
  "trailingComma": "es5",
  "singleQuote": true,
  "jsxSingleQuote": true,
  "spaceBeforeFunctionParen": true,
  "printWidth": 120,
  "tabWidth": 4,
  "arrowParens": "avoid",
  "parser": "typescript"
}
