@import url('https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap');
@font-face {
  font-family: 'Menlo Regular';
  font-style: normal;
  font-weight: normal;
  line-height: '18px';
  src: local('Menlo Regular'), url('./Menlo-Regular.woff') format('woff');
  }